.app.dark
  // Основные цвета фона
  --bg-color: #1a1b26
  --inverted-bg-color: #f5f5f7

  // Основные цвета контента
  --primary-color: #7aa2f7
  --secondary-color: #bb9af7

  // Инвертированные цвета
  --inverted-primary-color: #2ac3de
  --inverted-secondary-color: #ff9e64

  // Цвета для иконок и акцентов
  --theme-icon-color: #fffb00
